* {
    margin: 0;
}

#bg {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

body {
    min-height: 100dvh;
    background-color: #231D2B;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-grow: 1;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .8rem .5rem;

}

h1 {
    font-size: 2rem;
    text-align: center;
}


@media screen and (min-width: 360px) {
    h1 {
        font-size: 2.5rem;
    }
    #zeew-chan {
        max-width: 50rem;
        object-fit: contain;
    }
  }


#zeew-chan {
    max-width: 20rem;
    width: 100%;
    object-fit: contain;
}

p {
    color: #CFCFCF;
    margin-bottom: 20px;
    max-width: 35rem;
    width: 100%;
    text-align: center;
}

.social-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.social-button {
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 10px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.social-button i {
    font-size: 18px;
}

.social-button:hover {
    transform: scale(1.1);
}

.discord {
    background-color: #5865f2;
}

.discord:hover {
    background-color: #4852c5;
}

.youtube {
    background-color: #ff0000;
}

.youtube:hover {
    background-color: #cc0000;
}

.tiktok {
    background-color: #000;
}

.tiktok:hover {
    background-color: #333;
}

.instagram {
    background-color: #e4405f;
}

.instagram:hover {
    background-color: #c13545;
}

.twitter {
    background-color: #141414;
}

.twitter:hover {
    background-color: #141414;
}